[Unit]
Description=Run LinkedIn Bot Daily
Requires=linkedin-bot.service

[Timer]
OnBootSec=5min
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
